<!DOCTYPE html>
<html>
  <head>
    <title>DataServer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', src: 'https://code.jquery.com/jquery-3.2.1.min.js' %>
    <%= javascript_include_tag 'application', src: 'https://canvasjs.com/assets/script/canvasjs.min.js' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
